{% extends "base.html.twig" %}

{% block title %}Teams{% endblock %}

{% block body %}
  <h1>Teams</h1>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="/teams/new" class="btn btn-success mb-3">Create new team</a>
  {% endif %}
  <ul class="row">
    {% for team in teams %}
      <div class="col-xl-2 col-md-3 col-6 text-center mb-5">
        <a href="/teams/{{ team.slug }}">
          <img src="https://sportsarchive-team-logos.s3.amazonaws.com/{{ team.slug }}.svg" style="height: 100px;" class="mb-1 team-logo" alt="{{ team.name }} logo" />
          <br>
          {{ team.name }}
        </a>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
