{% extends "base.html.twig" %}

{% block title %}{{ 'seasonShow.title'|trans({'%season%': year}) }}{% endblock %}

{% block body %}
  <h1>{{ 'seasonShow.title'|trans({'%season%': year}) }}</h1>
  <ul>
    {% for roster in rosters %}
      <li>
        <a href="/rosters/{{ roster.id }}">
          {{- roster.teamName -}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
