{% extends "base.html.twig" %}

{% block title %}Edit team{% endblock %}

{% block body %}
  <h1>Edit team</h1>
  <div {{ stimulus_controller('team-edit') }}>
    {{ form(form) }}
  </div>
{% endblock %}
