{% extends "base.html.twig" %}

{% block title %}{{ team.name }} – create roster{% endblock %}

{% block body %}
  <h1>
    <a href="/teams/{{ team.slug }}">{{ team.name }}</a>
    – create roster
  </h1>
  {{ form(form) }}
{% endblock %}
