{% extends "base.html.twig" %}

{% block title %}API documentation{% endblock %}

{% block body %}
  <h1>API documentation</h1>
  <noscript>
    <div class="alert alert-warning" role="alert">
      {{ 'general.noscript'|trans }}
    </div>
  </noscript>
  <div id="swagger" {{ stimulus_controller('about-api') }}></div>
{% endblock %}
