{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
  <img src="{{ asset('images/icon.svg') }}" style="width:10%;min-width:64px" class="float-md-end" alt="soccer ball in a cardboard box"/>
  <h1>About SportsArchive</h1>
  <p>Founded in 2021, SportsArchive is a website dedicated to archiving and preserving all things sports. Too often, teams and leagues are so focused on what's next that they don't preserve a history of what's past, or if they do, they don't make it easily accessible to the public. The goal of SportsArchive is to preserve that history.</p>

  <h2>Code</h2>
  <p>The code that powers SportsArchive is free and open source software available under the MIT License. You can find it at <a href="https://github.com/oxguy3/sportsarchive">github.com/oxguy3/sportsarchive</a>.</p>

  <h2>Contact</h2>
  <p>To get in touch, please email me at <a href="mailto:haydenschiff@gmail.com">haydenschiff@gmail.com</a>.</p>
{% endblock %}
