{% extends "base.html.twig" %}

{% block title %}API documentation{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('aboutApi') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('aboutApi') }}
{% endblock %}

{% block body %}
  <h1>API documentation</h1>
  <div id="swagger"></div>
{% endblock %}
