{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
  <h1>Contact</h1>
  <p>To get in touch, please email me at <a href="mailto:haydenschiff@gmail.com">haydenschiff@gmail.com</a>.</p>
{% endblock %}
