{% extends "base.html.twig" %}

{% block body %}
  <img src="{{ asset('images/icon.svg') }}" style="display:block; margin-left:auto; margin-right:auto; width:30%;" class="text-center my-2" alt="soccer ball in a cardboard box"/>
  <h1 class="text-center">Welcome to SportsArchive!</h1>
  <p class="lead text-center">Check out the <a href="/teams">Teams</a> page to view our library of headshots.</p>
{% endblock %}
