{% extends "base.html.twig" %}

{% block title %}{{ 'seasonList.title'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'seasonList.title'|trans }}</h1>
  <ul>
    {% for season in seasons %}
      <li>
        <a href="/seasons/{{ season }}">
          {{- season -}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
