{% extends "base.html.twig" %}

{% block title %}Admin panel{% endblock %}

{% block body %}
  {% include 'admin/navbar.html.twig' %}
  <p><a href="https://analytics.google.com/analytics/web/#/p274222772/reports/intelligenthome">Google Analytics</a></p>
  <p><a href="https://search.google.com/search-console?resource_id=sc-domain%3Asportsarchive.net&hl=en">Google Search Console</a></p>
{% endblock %}
