@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";
@import "../icons/dist/icons.css";

i[class^="i-"]:before, i[class*=" i-"]:before {
  display: inline-block;
}
.icon-fw:before {
  text-align: center;
  width: 1.25em;
}
.icon-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.icon-link {
  text-decoration: none;
}

main {
  min-height: 75vh;
}
.footer-social-icon {
  color: #f8f9fa;
  text-decoration: none;
}
.footer-social-icon:hover {
  color: #ddd;
}
