@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "../icons/dist/icons.css";

i[class^="i-"], i[class*=" i-"] {
  display: inline-block;
}
.icon-fw:before {
  text-align: center;
  width: 1.25em;
}
.icon-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}
@-webkit-keyframes icon-spin {
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }
}
@keyframes icon-spin {
0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }
}

.icon-link {
  text-decoration: none;
}

main {
  min-height: 75vh;
}
.footer-social-icon {
  color: #f8f9fa;
  text-decoration: none;
}
.footer-social-icon:hover {
  color: #ddd;
}

/** TEAM LIST **/
.team-list-logo {
  height: 100px;
  max-width: 130px;
  display: block;
  object-fit: contain;
}

/** TEAM SHOW **/
.team-logo-block {
  font-size: 32px;
}
.team-logo-big {
  height: 200px;
  max-width: 260px;
  object-fit: contain;
}
.team-flag {
  height: 32px;
  vertical-align: -10%;
}

.team-nav {
  clear: both;
  margin-bottom: 1em;
}

/** TEAM SHOW MEMBERS **/
.leagueTeam-logo {
  height: 100px;
  max-width: 130px;
  display: block;
  object-fit: contain;
}
.leagueTeam-seasons {
  font-size: 12px;
}