.team-logo-block {
    font-size: 32px;
}
.team-logo-big {
    height: 200px;
    max-width: 260px;
    object-fit: contain;
}
.team-flag {
    height: 32px;
    vertical-align: -10%;
}

.team-nav {
    clear: both;
    margin-bottom: 1em;
}

/*** MEMBERS PAGE ***/

.leagueTeam-logo {
    height: 100px;
    max-width: 130px;
    display: block;
    object-fit: contain;
}
.leagueTeam-seasons {
    font-size: 12px;
}