<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SportsArchive{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{ asset('images/icon.svg') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">
          SportsArchive
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teams">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <div class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <a class="nav-link" href="/logout">Log out</a>
            {% else %}
              <a class="nav-link" href="/login">Log in</a>
            {% endif %}
          </div>
          <!-- <a class="btn btn-outline-secondary" href="/login">Log in</a> -->
        </div>
      </div>
    </nav>

    <main class="container">
      {% block body %}{% endblock %}
    </main>

    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
