{% extends "base.html.twig" %}

{% block title %}Delete document{% endblock %}

{% block body %}
  <h1>Delete document</h1>
  <a href="https://nyc3.digitaloceanspaces.com/{{ documentUrlInfix }}{{ document.filePath }}">{{ document.title }}</a>
  <p>Are you sure you want to delete this document?</p>
  {{ form(form) }}
{% endblock %}

{% block javascripts %}
<script>
var button = document.getElementById("delete_cancel");
button.onclick = function () {
  window.history.back();
}
</script>
{% endblock %}
