{% extends "base.html.twig" %}

{% block body %}
  <img src="{{ asset('images/icon.svg') }}" style="display:block; margin-left:auto; margin-right:auto; width:30%;" class="text-center" alt="soccer ball in a cardboard box"/>
  <h1 class="text-center">Welcome to SportsArchive!</h1>
  <p class="lead text-center">This site is still under early development. Check back soon for updates!</p>
{% endblock %}
