{% extends "base.html.twig" %}

{% block title %}Headshots by team{% endblock %}

{% block body %}
  <h1>Headshots by team</h1>
  <ul>
    {% for team in teams %}
      <li><a href="/teams/{{ team.slug }}">{{ team.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
