{% extends "base.html.twig" %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
  <h1>
    <img src="https://sportsarchive-team-logos.s3.amazonaws.com/{{ team.slug }}.svg" class="mr-1" style="height:40px" />
    {{ team.name }}
  </h1>
  <h2>Headshots</h2>
  <p class="lead">Coming soon!</p>
{% endblock %}
