{% extends "base.html.twig" %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
  <h1>404 Not Found</h1>
  <p>Sorry, the page you are trying to access could not be found. Please check the URL and try again.</p>
{% endblock %}
