{% extends "base.html.twig" %}

{% block title %}{{ status_text }}{% endblock %}

{% block body %}
  <h1>{{ status_text }}</h1>
  <p>Sorry, an error occurred when trying to access that page. Please check the URL and try again.</p>
{% endblock %}
